{{define "function"}}
{{- $f := .}}

func {{.TestName}}(t *testing.T) {
	assert := assert.New(t)
	{{- with .Receiver}}
		{{- if .IsStruct}}
			{{- if .Fields}}
				type fields struct {
				{{- range .Fields}}
					{{Field .}} {{.Type}}
				{{- end}}
				}
			{{- end}}
		{{- end}}
	{{- end}}
	{{- if .TestParameters}}
	type args struct {
		{{- range .TestParameters}}
				{{Param .}} {{.Type}}
		{{- end}}
	}
	{{- end}}
	tests := []struct {
		name string
		{{- with .Receiver}}
			{{- if and .IsStruct .Fields}}
				fields fields
			{{- else}}
				{{Receiver .}} {{.Type}}
			{{- end}}
		{{- end}}
		{{- if .TestParameters}}
			args args
		{{- end}}
		{{- range .TestResults}}
			{{Want .}} {{.Type}}
		{{- end}}
		{{- if .ReturnsError}}
			err error
		{{- end}}
	}{
		// TODO: Add test cases.
	}
	for {{if (or .Subtests (not .IsNaked))}} _, tt := {{end}} range tests {
		{{- with .Receiver}}
			{{- if .IsStruct}}
				{{Receiver .}} := {{if .Type.IsStar}}&{{end}}{{.Type.Value}}{
				{{- range .Fields}}
					{{.Name}}: tt.fields.{{Field .}},
				{{- end}}
				}
			{{- end}}
		{{- end}}
		{{- range .Parameters}}
			{{- if .IsWriter}}
				{{Param .}} := &bytes.Buffer{}
			{{- end}}
		{{- end}}
		{{template "results" $f}} {{template "call" $f}}
		{{- range .TestResults}}
			assert.Equal(tt.{{Want .}}, {{Got .}}, tt.name)
		{{- end}}
		{{- if .ReturnsError}}
			assert.Equal(tt.err, err, tt.name)
		{{- end}}
	}
}

{{end}}
