{{define "inputs" -}}
    {{- $f := . -}}
    {{- if not .Subtests -}}tt.name, {{end -}}
    {{- if $f.PrintInputs -}}
        {{- range $f.Parameters}}
            {{- if eq (len $f.TestParameters) 1 }}tt.arg, {{else -}}
                tt.args.{{Param . -}},
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}