{{define "testcases"}}
{{range .Funcs}}{{$f := .}}
func {{.TestName}}(t *testing.T) {
	tests := []struct {
		name string{{if .Receiver}}
		{{.Receiver.Name}} {{.Receiver.Type}}{{end}}{{range $index, $element := .Parameters}}{{if .Name}}
		{{.Name}} {{.Type}}{{else}}
		in{{$index}} {{.Type}}{{end}}{{end}}{{range .Results}}{{if and .Name $f.ReturnsMultiple}}	
		want{{.Name}} {{.Type}}{{else if $f.ReturnsMultiple}}
		want{{.Type}} {{.Type}}{{else}}
		want {{.Type}}{{end}}{{end}}{{if .ReturnsError}}
		wantErr bool{{end}}
	}{
		// TODO: Add test cases.
	}
	for _, tt := range tests { {{if and (not .OnlyReturnsError) (not .OnlyReturnsOneValue) }}
		{{if .Results}}got{{if .ReturnsError}}, err{{end}} := {{else if .ReturnsError}}err := {{end}}{{template "func" .}}{{end}}{{if .ReturnsError}}
		if {{if .OnlyReturnsError}}err := {{template "func" .}}; {{end}} (err != nil) != tt.wantErr {
			t.Errorf("%v. {{.Name}}() error = %v, wantErr: %v", tt.name, err, tt.wantErr){{if .Results}}
			continue{{end}}
		}{{end}}{{range .Results}}{{if .IsScalar}}
		if {{if $f.OnlyReturnsOneValue}}got := {{template "func" $f}}; {{end}} got != tt.want { {{else}}
		if {{if $f.OnlyReturnsOneValue}}got := {{template "func" $f}}; {{end}} !reflect.DeepEqual(got, tt.want) { {{end}}
			t.Errorf("%v. {{$f.Name}}() = %v, want %v", tt.name, got, tt.want)
		}{{end}}
	}
}
{{end}}
{{end}}